<section class="header">
	<div class="container">
		<div class="header__wrap">
			<a href="/" class="header__logo">
				<img src="/template/img/logo.png" alt="" />
			</a>
			<div class="burger-wrap">
				<div class="burger"></div>
			</div>
			<ul class="header__navigation">
				<li>
					<a href="https://neryxomka.com/realestates">{{{translate("Land.Real Estates")}}}</a>
				</li>
				<li><a href="https://neryxomka.com/services">{{{translate("Land.Services")}}}</a></li>
				<li><a href="https://neryxomka.com/products">{{{translate("Land.Products")}}}</a></li>
				<li><a href="https://neryxomka.com/portfolios">{{{translate("Land.Portfolios")}}}</a></li>
				<li><a href="https://neryxomka.com/articles">{{{translate("Land.Articles")}}}</a></li>
				<li><a href="https://neryxomka.com/stores">{{{translate("Land.Stores")}}}</a></li>
			</ul>
			<div class="header__btns-wrap">
				<a
					href="https://neryxomka.com/manage/profile"
					class="header__btns-profile"
				>
					<img src="/template/img/icons/profile.svg" alt="" />
				</a>
			</div>
		</div>
	</div>
</section>


