	{% if showLayout %}
			{{{'/template/components/topbar'|c({translate: translate})|safe}}}

	{% endif %}
			
<div style="overflow-x: hidden;">
	<section class="full-screen" id="sec1" style="display: flex;
			justify-content: center;
			align-items: center;
			background-size:contain;
			background-image: url(/template/img/domik.png);">
		<div class="plan__description" style="font-weight: 500;">
			<div class="plan">
				<img src="/template/img/fotlogo.png">
				<h2 style="color:rgb(64, 135, 201); text-transform: uppercase; padding-bottom: 20px; ">
					Neryxomka</h2>
				<h3 style="color:rgb(39, 83, 124); margin-bottom: 50px;">Місце, де клієнти та підприємці об'єднуються,
					щоб
					трансформувати ринок нерухомості.</h3>
			</div>
			<ul>
				<li>Neryxomka - це місце, де клієнти та підприємці об'єднуються, щоб досягти
					найкращих
					результатів.</li>
				</br>
				<li>Як власник бізнесу, ви отримуватимете клієнтів з готовим запитом орієнтованим
					під ваші послуги. </br> Клієнти ж отримають своє ідеальне обслуговування.</li>
				</br>
				<li>Нашою метою є збільшення вашого прибутку та розширення клієнтської бази за
					допомогою
					нашої платформи.</li>
				</br>
				<li>Тут ви можете не лише продавати і здавати в оренду нерухомість, але й
					пропонувати свої послуги </br> та товари в цій галузі.</li>
			</ul>
		</div>
	</section>

	<section class="full-screen2" id="sec2" style="display: flex;
	padding: 0px 100px;
		justify-content: center;
		align-items: center;
		background-size:contain;
		background-image: url(/template/img/cliner.png);">
		<div class="plan__description" style="font-weight: 500;">
			<div style="text-align: left;padding: 20px;font-weight: 700;">
				<h3 style="color:rgb(64, 135, 201); padding-bottom: 20px;"> Neryxomka для Клієнта</h3>
				<h4 style="color:rgb(39, 83, 124); padding-bottom: 40px;">Відкрийте можливості, які чекають вас на
					нашій платформі:</h4>
				<ul style="list-style:inside;">
					<li><b>Історія нерухомості:</b>
						Створюйте історію свого приміщення зберігаючи плани та
						документи, що вирішить нюанси під час ремонту.</li>
					</br>
					<li><b>Операції з нерухомістю:</b> Купівля, продаж або оренда за допомогою
						нашого
						інтегрованого ринку.</li>
					</br>
					<li><b>Ринок матеріалів:</b> Можливість знаходити матеріали для послуг
						(ремонт
						приміщення, техніки, тощо) та замовляти доставку.</li>
					</br>
					<li><b>Професійна допомога:</b> З'єднуйтесь з кваліфікованими фахівцями, щоб
						вирішити
						будь-які питання з нерухомості.</li>
					<ul>
			</div>
		</div>
		<img src="/template/img/nerrclient.svg">
	</section>

	<section class="full-screen3" id="sec3" style="display: flex;
	padding: 0px 100px;
		justify-content: center;
		align-items: center;
		background-size:cover;
		background: radial-gradient(circle at 10% 20%, rgb(239, 246, 249) 0%, rgb(206, 239, 253) 90%);">
		<div class="plan__description" style="font-weight: 500;">
			<div style="text-align: left;padding: 20px;font-weight: 600;">
				<h3 style="color:rgb(64, 135, 201); padding-bottom: 15px;">Neryxomka для Бізнесу</h3>
				<h4 style="color:rgb(39, 83, 124); padding-bottom: 20px ;">Ознайомтесь з опціями Neryxomka, які
					допоможуть зростанню вашого бізнесу:
				</h4>
				<ul>
					<li><b>Генерація лідів:</b> Отримуйте нових клієнтів за допомогою налаштованої реклами.</li>
					</br>
					<li><b>Доступність матеріалів:</b> Доступ до великого асортименту матеріалів
						для
						бізнесу з можливістю зручної доставки.</li>
					</br>
					<li><b>Адміністрування:</b> Отримайте доступ до системи
						онлайн-адміністрування, яка
						спрощує операції з нерухомістю.</li>
					</br>
					<li><b>Управління замовленнями:</b> Доступ до професійних інструментів для високого рівня обслуговування клієнтів.
						обслуговування клієнтів.</li>
					</br>
					<li><b>Можливості франчайзингу:</b> Можливості для розширення бізнесу через франчайзинг.
						франчайзинг.</li>
					</br>
				</ul>
				<b>Neryxomka для бізнесу - це ваш ключ до успіху в галузі нерухомості.</b>
			</div>
		</div>
		<img src="/template/img/nerrbusi.svg">
	</section>

	<section class="full-screen2" id="sec4" style="display: flex;
	padding: 0px 100px;
		justify-content: center;
		align-items: center;
		background-size:contain;
		background-image: url(/template/img/cliner.png);">
		<div class="plan__description" style="font-weight: 500;">
			<div style="text-align: left;padding: 20px;font-weight: 600;">
				<h3 style="color:rgb(64, 135, 201); padding-bottom: 20px;">Neryxomka Online Manager</h3>
				<h4 style="color:rgb(39, 83, 124); padding-bottom: 20px;">Послуги наших спеціалістів, які покращать
					ваш бізнес та збільшать аудиторію:</h4>
				<ul>
					<li><b>Google та Facebook Реклама:</b> Використовуйте рекламу, щоб досягти цільовоу
						аудиторію, підвищуючи вашу онлайн видимість.</li>
					</br>
					<li><b>Google Мапи та Відгуки:</b> Оптимізація присутності на Google Мапах,
						спонукаючи клієнтів залишити відгуки.</li>
					</br>
					<li><b>Соціальні мережі:</b> Використовуйте потенціал соціальних мереж, щоб
						розширити
						вашу аудиторію.</li>
					</br>
					<li><b>Neryxomka веб-сайти:</b> Користуйтесь послугами створення вашого індивідуального
						веб-сайту.
					</li></br>
					<li><b>Бізнес ідеї:</b> Відкрийте нові ідеї та стратегії для росту прибутковості
						вашого
						бізнесу з нашими спеціалістами.</li>
					</br>
					<li><b>Постачання:</b> Допомога в пошуку провіренних та надійних постачальників.
						бізнесу.
					</li>
					</br>
				</ul>
				<b>Neryxomka Online Manager дає вашому бізнесу змогу вирішувати завдання в
					цифровому світі, надаючи всебічне рішення для вашої онлайн присутності та
					зростання</b>
			</div>
		</div>
		<img src="/template/img/mengbuss.svg">
	</section>

	<section class="full-screen3" id="sec5" style="display: flex;
	padding: 0px 100px;
		justify-content: center;
		align-items: center;
		background: radial-gradient(circle at 10% 20%, rgb(239, 246, 249) 0%, rgb(206, 239, 253) 90%);">
		<div class="plan__description" style="font-weight: 500;">
			<div style="text-align: left;padding: 20px;font-weight: 600;">
				<h3 style="color:rgb(64, 135, 201); padding-bottom: 20px;">Управління Замовленнями: оптимізація вашої
					роботи</h3>
				<h4 style="color:rgb(39, 83, 124) ; padding-bottom: 40px;">Управління замовленнями спрямовано на
					декілька ключових
					аспектів:
				</h4>
				<ul>
					<li><b>Оптимізований робочий процес:</b> Neryxomka надає інструментарій для управління
						замовленнями, включаючи створення, відстеження та виконання замовлень.</li>
					</br>
					<li><b>Покращена комунікація:</b> Neryxomka пропонує інструменти для спілкування з
						клієнтами протягом процесу замовлення для вирішення їхніх питань.</li>
					</br>
					<li><b>Контроль якості:</b> Функції контролю якості під час обробки замовлень,
						забезпечують, що продукти або послуги відповідають встановленим стандартам.</li>
					</br>
					<li><b>Інтеграція та автоматизація:</b> Neryxomka розроблена для інтеграції з різними
						системами управління бізнесом та автоматизації повторюваних завдань.
					</li></br>
					<li><b>Звіти та аналітика:</b> Відслідковуйте тенденції в замовленнях та поведінку
						клієнтів, використовуючи вбудовані інструменти для покращення майбутніх
						бізнес-рішень.</li>

					</br>
				</ul>
				<b>Управління замовленнями через Neryxomka забезпечує можливість надавати
					клієнтам безперешкодний доступ та покращувати загальний процес виконання
					замовлень. Ця фаза розроблена для допомоги бізнесам різного масштабу
					оптимізувати свої процедури замовлення та управління.</b>
			</div>
		</div>
	</section>

	<section class="full-screen3" id="sec6" style="display: flex;
		justify-content: center;
		align-items: center;
		background: radial-gradient(circle at 10% 20%, rgb(239, 246, 249) 0%, rgb(206, 239, 253) 90%);">
		<div class="plan__description">
			<img src="/template/img/mengbuss.svg" style="display: block; margin: 0 auto;  width: 40vw;">
		</div>
	</section>

	<section class="full-screen2" id="sec7" style="display: flex;
	padding: 0px 100px;
		justify-content: center;
		align-items: center;
		background-size:contain;
		background-image: url(/template/img/cliner.png);">
		<div class="plan__description" style="font-weight: 500;">
			<div style="text-align: left;padding: 10px;font-weight: 600;">
				<h3 style="color:rgb(64, 135, 201); padding-bottom: 10px">Франшизи</h3>
				<h4 style="color:rgb(39, 83, 124); padding-bottom: 20px">Neryxomka пропонує бізнесам можливість поширити
					свій бренд і
					розвиватися
					через франчайзинг. Перші кроки, які допоможуть вам в цьому процесі:</h4>
				<ul>
					<li><b>Дослідження фізибільності франчайзингу:</b> Наша робота включає визначення існування ринкових
						можливостей та попит на ваш бренд у різних регіонах.</li></br>
						<li><b>Законні та регуляторні аспекти:</b> Ми забезпечимо дотримання всіх законодавчих та регуляторних вимог, пов'язаних із франчайзингом, розробимо правову базу та контракти для франчайзингових угод.</li></br>
					<li><b>План розвитку:</b> Наші спеціалісти допоможуть розробити стратегічний план розвитку франчайзингової мережі, включаючи
						обрання регіонів для розширення та інвестиції.</li></br>
					<li><b>Стратегія маркетингу:</b> Наша команда розробить стратегію маркетингу для залучення потенційних франчайзі та просування вашого бренду в регіональних ринках.</li></br>
					<li><b>Тренувальні та підтримуючі програми франчайзі:</b> Розробка програм навчання та підтримки для франшизи. Наша програма матиме необхідні інструменти та опис навичок для успішного ведення бізнесу.</li></br>
					<li><b>Відбір та набір франчайзі:</b> Проведення відбору та рекрутування франчайзі, які підходять до вашого бренду та мають потрібні навички та досвід.</li></br>
					<li><b>Запуск та розширення:</b> Наша команда подбає про запуск франчайзингового бізнесу та розширення мережі, надаючи франчайзі підтримку та ресурси для успішного ведення бізнесу.</li></br>
					<li><b>Постійне управління франчайзингом:</b> Ми проводимо постійний контроль та управління франчайзинговою мережею, забезпечуючи, що франчайзі дотримуються стандартів вашого бренду та отримують необхідну підтримку.</li>
			</div>
		</div>
	</section>

	<section class="full-screen3" id="sec8" style="display: flex;
	justify-content: center;
	align-items: center;
	background: radial-gradient(circle at 10% 20%, rgb(239, 246, 249) 0%, rgb(206, 239, 253) 90%);">
	<div class="plan__description">
		<img src="/template/img/franshbu.svg" style="display: block; margin: 0 auto; width: 40vw;">
	</div>
</section>


	<section class="full-screen2" id="sec9" style="display: flex;
	padding: 0px 100px;
		justify-content: center;
		align-items: center;
		background-size:contain;
		background-image: url(/template/img/cliner.png);">
		<div class="plan__description" style="font-weight: 500;">
			<div style="text-align: center;padding: 10px;font-weight: 600;">
				<img src="/template/img/fotlogo.png" class="photom">
				<h3 style="text-transform: uppercase; color:rgb(51, 110, 165); text-align: center;padding-top: 0px;">Наші спеціалісти завжди готові відповісти на ваші питання </br> та надати
					консультацію в сфері
					не рухомості і франчайзингу.</h3>
			</div>
		</div>
	</section>
</div>
{% if showLayout %}
{{{'/template/components/footer'|c({translate: translate})|safe}}}
{% endif %}

<script type="module">
	import Dom from "/api/wjst/dom";
	import Event from "/api/wjst/event";
	const ids = [
		'sec1',
		'sec2',
		'sec3',
		'sec4',
		'sec5',
		'sec6',
		'sec7',
		'sec8',
		'sec9'
	];
	let index = 0;
	const scroll = () => {
		const element = document.getElementById(ids[index]);

		if (element) {
			// Smooth scrolling behavior (if supported)
			element.scrollIntoView({ behavior: 'smooth' });
			// Alternative without smooth behavior:
			// element.scrollIntoView(false);
		}
	}
	scroll();

	document.addEventListener("mousedown", function (event) {
		if (event.button === 0) {
			if (++index >= 9) {
				index = 0;
			}
			scroll();
		}
	});
	// Event.on('moveDown', ()=>{
	// 	if (++index > 6) {
	// 		index = 0;
	// 	}
	// 	scroll();
	// });
	// Event.on('moveUp', () => {
	// 	if (--index < 0) {
	// 		index = 6;
	// 	}
	// 	scroll();
	// });

	let x, y, xLock = false, yLock = false;

	document.addEventListener('mousemove', function (event) {
		if (typeof x === 'number') {
			if (!xLock && x + 200 < event.clientX) {
				Event.emit('moveRight');
				console.log("Event.emit('moveRight');");
				x = event.clientX;
				xLock = true;
				setTimeout(() => {
					xLock = false;
				}, 2000);
			} else if (!xLock && x - 200 > event.clientX) {
				Event.emit('moveLeft');
				console.log("Event.emit('moveLeft');");
				x = event.clientX;
				xLock = true;
				setTimeout(() => {
					xLock = false;
				}, 2000);
			}
		} else {
			x = event.clientX;
		}

		if (typeof y === 'number') {
			if (!yLock && y + 200 < event.clientY) {
				Event.emit('moveDown');
				console.log("Event.emit('moveDown');");
				y = event.clientY;
				yLock = true;
				setTimeout(() => {
					yLock = false;
				}, 2000);
			} else if (!yLock && y - 200 > event.clientY) {
				Event.emit('moveUp');
				console.log("Event.emit('moveUp');");
				y = event.clientY;
				yLock = true;
				setTimeout(() => {
					yLock = false;
				}, 2000);
			}
		} else {
			y = event.clientY;
		}
	});
</script>
